* {
  background-color: #e9ecef;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.custom-navbar {
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-placeholder {
  height: 80px; /* height equal to navbar height */
}

.nav {
  padding-right: 0 !important;
}

.navbar-text a {
  padding: 8px;
}

.nav-item a {
  padding: 4px 16px;
  text-transform: uppercase;
  font-size: 18px;
}

.navbar-nav > a {
  text-transform: uppercase;
  font-size: 18px;
}

div.dropdown-menu.show {
  background-color: #e9ecef;
}

.custom-navbar .active.nav-item a {
  color: #000000E6;
}

.custom-navbar .dropdown-item.active {
  background-color: #abadae;
}

.custom-navbar .dropdown-item:hover {
  background-color: #abadae;
}

/* Overlay */
.custom-react-player .react-player__play-icon {
  background: none !important;
  box-shadow: none !important;
  color: white !important;
}

/* Hero-image */ /* DELETE if it will not be used */
/* .hero-wrapper {
  position: relative;
  height: auto;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .hero-wrapper {
    display: none;
  }

  .hero-image {
    display: none;
  }
} */

/* section Drafts */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-between;
}

/* PhotoOverlay */
.photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 25px;
  background: none;
  border: none;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
}

.photo-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 70vh;
}

.photo-slide {
  display: none;
  max-height: 80vh;
  max-width: 90%;
  object-fit: contain;
}

.photo-slide.active {
  display: block;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

svg {
  background: transparent;
}