* {
  background-color: #e9ecef;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-text a {
  padding: 8px;
}

.nav-item a {
  padding: 4px 16px;
  text-transform: uppercase;
  font-size: 18px;
}

.nav {
  padding-right: 0 !important;
}

.navbar-nav > a {
  text-transform: uppercase;
  font-size: 18px;
}

/* Option 1 */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Option 2 */
/* .navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

div.dropdown-menu.show {
  background-color: #e9ecef;
}